@import "~view-design/dist/styles/iview.css"; // 引入Iview默认样式
@import "./IveiwStyle/input.less";
.ChangeTheme(@mainColor, @bodyBackground) {
  // 修改iview主题
  @import "~view-design/src/styles/index.less";

  // 引入自定义组件主题样式
  @import "../styles/index.less";

  // 修改Iveiw组件主题色
  @primary-color: @mainColor;
  @body-background: @bodyBackground;
  @component-background: @bodyBackground;

  // 修改自定义组件主题色
  @yprimary-color: @mainColor;

  // 修改input框背景色(需要和UI确定组件那些部分支持修改)
  .Input(@bodyBackground);
}
